body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin-top: 50px;
  color: #222;
}

canvas {
    border: 2px solid #222; 
    border-radius: 50%;
}

button {
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
  display: block-none;
}

button:hover {
  background: lightsalmon;
}

header {
  grid-area: header;
}
